@use '@/styles/tokens' as *;

.colorBox {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border: 2px solid transparent;
  display: grid;
  place-items: center;
  position: relative;

  svg {
    color: #fff;
    filter: drop-shadow(0 1px 1px #000) drop-shadow(0 0 1px #000);
  }

  &:not([aria-pressed='true']):hover {
    filter: brightness(0.85);
  }

  &[aria-pressed='true'] {
    border-color: $text-primary;
  }
}
