@use '@/styles/tokens' as *;
@use 'sass:math';

.toggle {
  display: flex;
  align-items: center;
  width: 3.5rem;
  height: 2rem;
  padding: 0.25rem;
  border: 1px solid $border-secondary;
  background: $surface;

  &[aria-checked='true'] {
    border-color: $primary;
    background: $primary;

    &:not(:disabled):hover,
    &:not(:disabled):focus-visible {
      background: $primary-hover;
    }

    .thumb {
      transform: translateX(1.5rem);
      background: $text-on-primary;
    }
  }
}

.thumb {
  border-radius: math.div($border-radius, 1.5);
  width: 1.375rem;
  aspect-ratio: 1 / 1;
  background: $text-secondary;
  transition: $transition-duration $transition-easing;
}
