@use '@/styles/tokens' as *;
@use '@/styles/clipped-corners' as corners;

.navigationList {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navigationItem {
  all: unset;
  display: flex;
  padding: 0 0.35rem;
}

.navigationLink {
  @include corners.outer($border-accent);
  @include corners.interactive;

  width: 100%;
}

.navigationContent {
  @include corners.inner;

  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.navigationIcon {
  flex-basis: 2rem;
}

.navigationText {
  flex: 0 0 auto;
}
