@use '@/styles/tokens' as *;

.container {
  border: 1px solid $border-secondary;
  padding: 0.5rem 0.75rem;
}

.input {
  width: 100%;
}

.messageContainer {
  display: block;
  margin: 0.75rem 0;
  width: 100%;
  padding: 0.5rem 0.75rem;
  resize: vertical;
  border: 1px solid $border-secondary;
}
