@use '@fontsource-variable/space-grotesk/wght.css';
@use './clipped-corners';

// Follow the system preference by default
:root {
  color-scheme: light dark;
}

:root[data-theme='light'] {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk Variable', sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}

ul,
li,
button,
input,
textarea,
select {
  all: unset;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
