@use '@/styles/tokens' as *;

.project {
  border: 1px solid $border-secondary;
  padding: 0.5rem;
}

.project {
  counter-increment: project;
}

.title::before {
  content: counter(project, decimal-leading-zero);
  color: $primary;
  font-family: $number-font;
  font-size: 1.45rem;
  // Adjustments for the number font
  font-size-adjust: 0.58;
  margin-right: 0.5rem;
}

.screenshot {
  width: 100%;
  border: 1px solid $border-secondary;
}

.badgesList {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.showDetails {
  color: $text-secondary;
  font-size: 1rem;
}

.showDetails {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem;

  &:hover {
    color: $primary;
  }
  // &:not(:disabled):focus-visible {
  //   border: 2px solid $focus-ring;
  //   outline-offset: -3px;
  // }
}
