.externalContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-inline: 0.5rem;
}

.externalList {
  all: unset;
  display: flex;
  gap: 0.5rem;
}

.externalItem {
  all: unset;
}
